In [1]:
import pandas as pd

In [2]:
# Create sqlalchemy
from sqlalchemy import create_engine
engine = create_engine(f"sqlite:///spotify.sqlite")

In [3]:
# Connect to database
with engine.connect() as conn:
    songsdf = pd.read_sql("SELECT * FROM songs", conn)

In [4]:
songsdf.head()

,track_id,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,hit,genre
0,000CzNKC8PEt1yC3L8dqwV,0.249,0.518,0.805,0.000000,0.3330,-6.248,0.0407,79.124,0.8410,0.0,Cinema
1,000DfZJww8KiixTKuk9usJ,0.366,0.631,0.513,0.000004,0.1090,-6.376,0.0293,120.365,0.3070,0.0,Ska_Reggae
2,000EWWBkYaREzsBplYjUag,0.815,0.768,0.137,0.922000,0.1130,-13.284,0.0747,76.430,0.5600,0.0,Jazz_Blues
3,000xQL6tZNLJzIrtIgxqSl,0.131,0.748,0.627,0.000000,0.0852,-6.029,0.0644,120.963,0.5240,1.0,Danceclub
4,001bQcMKt86oNbnWne4EAB,0.231,0.747,0.583,0.000000,0.0443,-7.072,0.0575,114.071,0.0381,0.0,World

In [5]:
# One-hot encoding of genre
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(songsdf.genre.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['genre'])
encode_df.head()

,genre_Childrens,genre_Cinema,genre_Classical,genre_Danceclub,genre_Folk_Country,genre_Hip_Hop_R&B,genre_Indie,genre_Jazz_Blues,genre_Pop,genre_Rock,genre_Ska_Reggae,genre_World
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
# Separate the features from the target
y = songsdf['hit']
X = songsdf.drop(columns= ['hit', 'track_id')

In [ ]:
# Still need to scale data

In [ ]:
# Split data into testing and training
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

In [ ]:
# Creating logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                               max_iter=100,
                               random_state=1)

In [ ]:
df3.head()

In [ ]:
# fit model using training data
classifier.fit(X_train, y_train)

In [ ]:
# Make predictions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({'Prediction': y_pred, 'Actual': y_test}).reset_index(drop=True)
results.head(20)

In [ ]:
# Get accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))